<!-- <form [formGroup]="bookingInfoListForm">
  <div formArrayName="bookingInfoLists"
    *ngFor="let bookingInfo of bookingInfoListForm.controls.bookingInfoLists.controls; let i = index;">
    <div formGroupName="{{i}}">
      <div class="form-group">
        <label for="firstName">id</label>
        <input [id]="bookingInfo.id" type="text" formControlName="id" />
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" />
      </div>
    </div>
  </div>
</form> -->

<form [formGroup]="bookingInfoListForm">
  <h2 style="align-items: center; justify-content: center; text-align: center;">Dynamic Table</h2>
  <div class="container" style="align-items: center; justify-content: center;">
    <div class="row">
      <div class="col-2"
        *ngFor="let header of bookingInfoListForm.controls.bookingInfoLists.controls[0].value | headers">
        {{header}}
      </div>
    </div>
  </div>
  <div class="contianer">
    <div formArrayName="bookingInfoLists"
      *ngFor="let bookingInfo of bookingInfoListForm.controls.bookingInfoLists.controls; let i = index;">
      <div formGroupName="{{i}}">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <input [id]=" bookingInfo.id" type="text" formControlName="id" />
            </div>
            <div class="col-2">
              <input type="text" formControlName="firstName" />
            </div>
            <div class="col-2">
              <input type="text" formControlName="lastName" />
            </div>
            <div class="col-2">
              <input type="text" formControlName="dateOfBirth" />
            </div>
            <div class="col-2">
              <input type="text" formControlName="email" />
            </div>
            <div class="col-2">
              <input type="text" formControlName="password" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>